<ion-content>
    <h3 class="ion-text-center">Readings</h3>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="'/add/'">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid>
        <ion-row class="ion-align-items-start">
            <ion-col *ngFor="let reading of readings">
                <ion-card class="welcome-card">
                    <ion-card-header>{{ reading.date | date}}</ion-card-header>
                    <ion-card-content><span *ngFor="let card of reading.cards">|{{ card }}|</span></ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
